@mixin box-shadow-1l{
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.16);
} 
@mixin box-shadow-2l{
	box-shadow: 0 6px 20px 0 rgba(0,0,0, 0.19);
} 
@mixin box-shadow-3l{
	box-shadow: 0 12px 15px 0 rgba(0,0,0, 0.24);
} 
@mixin box-shadow-4l{
	box-shadow: 0 16px 28px 0 rgba(0,0,0, 0.34);
}
 @mixin box-shadow-5l{
	box-shadow: 0 27px 24px 0 rgba(0,0,0, 0.16);
} 
