.progress-linear {
	padding: 18px 0 94px;
}
.progress-linear__title {
	color: #5265a2;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 75px;
}
.progress-circular {
	padding-bottom: 200px;
}
.progress-circular__title {
	color: #5265a2;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 65px;
}
.progress-circular__items {
	display: flex;
	align-items: end;
	position: relative;
}



//linear
.linear {
	width: 90%;
	height: 4px;
	position: relative;
	background-color: #c8c8c8;
	margin-bottom: 68px;
}
.linear_pink {
	width: 90%;
	height: 4px;
	position: relative;
	background-color: #c8c8c8;
	margin-bottom: 68px;
}


.linear:before {
	content: "";
	display: block;
	position: absolute;
	width: 200px;
	height: 4px;
	background-color: #009e55;
	animation: linear 4s linear infinite;
}
.linear_pink:before {
	content: "";
	display: block;
	position: absolute;
	width: 200px;
	height: 4px;
	background-color: #e91e63;
	animation: linear 4s linear infinite;
}
@keyframes linear {
	from {
		width: 0%;
	}
	10% {
		width: 10%;
	}
	20% {
		width: 20%;
	}
	30% {
		width: 30%;
	}
	40% {
		width: 40%;
	}
	50% {
		width: 50%;
	}
	60% {
		width: 60%;
	}
	70% {
		width: 70%;
	}
	80% {
		width: 80%;
	}
	90% {
		width: 90%;
	}
	to {
		width: 100%;
	}
}


//circular
.circular_very-small:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 4px solid #0070ce;
	border-top-color: #fff;
	animation: circular 1s linear infinite;
}.circular_small:before {
	content: "";
	position: absolute;
	top: 0;
	left: 120px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 5px solid #0070ce;
	border-top-color: #fff;
	animation: circular 1.2s linear infinite;
}.circular_medium:before {
	content: "";
	position: absolute;
	top: 0;
	left: 250px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 6px solid #0070ce;
	border-top-color: #fff;
	animation: circular 1.4s linear infinite;
}.circular_large:before {
	content: "";
	position: absolute;
	top: 0;
	left: 390px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 7px solid #0070ce;
	border-top-color: #fff;
	animation: circular 1.6s linear infinite;
}.circular_extra-large:before {
	content: "";
	position: absolute;
	top: 0;
	left: 550px;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 8px solid #0070ce;
	border-top-color: #fff;
	animation: circular 2s linear infinite;
}

@keyframes circular {
	to {
		transform: rotate(360deg);
	}
}