.tabs {
	padding: 18px 0 103px;
}

.tabs__title {
	font-size: 24px;
	color: #5265a2;
	font-weight: normal;
	margin-bottom: 66px;
}

//tab
.tab {
	opacity: 0.6;
	color: #fff;
	text-transform: uppercase;
	background-color: #00bcd7;
	border: none;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
	padding: 16px 96px;
	transition: all .25s ease;
	position: relative;
	outline: none;
	&_yellow-hover {
		&:hover {
			color: #ffff8d;
		}
	}
	&_border {
		&:hover {
			box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2),inset 0 -2px 0 0 #ffff8d;
			color: lighten(#fff, 10%);
		}
	}
	&_white-bg {
		background-color: #fff;
		color: #00bcd7;
		box-shadow: none;
		.rippleJS .ripple {
			background: #00bcd7!important;
		}
	}
	&_border-blue {
		&:hover {
			border-bottom: 2px solid #00bcd7;
		}
	}
	&_small {
		padding: 14px 65px;
	}
	&_very-small {
		padding: 14px 18px;
	}
}

.tabs__noink-items {
	margin-bottom: 54px;
}

.tabs__noink-subtitle {
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 16px;
}
.tabs__slides-subtitle {
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 16px;
}
.tabs__slides-items {
	margin-bottom: 54px;
}
.tabs__inky-subtitle {
	margin-bottom: 16px;
	font-weight: normal;
	font-size: 16px;
}
.tabs__inky-items {
	margin-bottom: 30px;
}
.tabs__menu {
	background-color: #00bcd7;
	opacity: .6;
	padding: 23px 0 0;
	max-width: 770px;
	position: relative;
}
.tabs__menu-head {
	display: flex;
	padding-bottom: 23px;
}
.tabs__menu-head-left {
	display: flex;
	align-items: center;
	margin-left: 24px;
	i {
		margin-right: 24px;
	}
}
.tabs__menu-head-left-title {
	color: #fff;
	font-size: 18px;
}
.tabs__menu-head-right {
	position: absolute;
	right: 0;
	display: flex; 
	margin-right: 24px;
}
.tabs__menu-content {
	display: none;
}
.tabs__bar {
	background-color: #00bcd7;
	opacity: .6;
	max-width: 770px;
	margin-top: 37px;
	padding-top: 144px;
	padding-left: 67px;
	display: flex;
	justify-content: space-between;
	i{
		margin-right: 23px;
	}
}
