.buttons#buttons
	.container
		h2.buttons__title Buttons 
		h3.buttons__subtitle Flat buttons
		.buttons__flat
			button.button button
			button.button.button_colored colored
			button.button.button_disabled disabled
		h3.buttons__subtitle Raised buttons
		.buttons__raised
			button.button.button_shadow.button_border-radius button
			button.button.button_blue.button_shadow.button_border-radius colored
			button.button.button_disabled.button_border-radius disabled
		
		
		
