a(name="button")
.buttons#buttons
	.wrapper_buttons
		h2.buttons__title Buttons 
		h3.buttons__subtitle Flat buttons
		.buttons__flat
			button.button button
			button.button.button_colored colored
			button.button.button_disabled disabled
		h3.buttons__subtitle Raised buttons
		.buttons__raised
			button.button.button_shadow.button_border-radius button
			button.button.button_blue.button_shadow.button_border-radius colored
			button.button.button_disabled.button_border-radius disabled
		h2.buttons__title Icon Button
.icons
	.wrapper_buttons
		.icons__buttons
			h3.icons__buttons-subtitle icon buttons
			i.fas.fa-bars.icon
			i.fas.fa-arrow-left.icon
			i.fas.fa-arrow-right.icon
			i.fas.fa-check.icon
			i.fas.fa-times.icon
			i.fas.fa-expand.icon
			i.fas.fa-compress.icon
			i.fas.fa-ellipsis-v.icon
			i.fas.fa-redo.icon
		.icons__styled
			h3.icons__styled-subtitle styled
			i.fas.fa-heart.icon.icon_black
			i.fas.fa-heart.icon.icon_red
			i.fas.fa-heart.icon
		.icons__segmented 
			h3.icons__segmented-subtitle segmented
			i.fas.fa-male.icon.icon_non-br.icon_hover-black
			i.fas.fa-car.icon.icon_non-br.icon_hover-black
			i.fas.fa-bus.icon.icon_non-br.icon_hover-black
.with-bg
	.floating
		.wrapper 
		h2.floating__title Floating Action Button
			.regular 
				h3.regular__subtitle Regular
				.regular__wrapper
					i.fas.fa-arrow-right.icon.icon_big-size.icon_white-color.icon_red-bg.icon_shadow
					i.fas.fa-pencil-alt.icon.icon_big-size.icon_white-color.icon_blue-bg.icon_shadow
					i.fas.fa-plus.icon.icon_big-size.icon_shadow
			.mini
				h3.mini__subtitle Mini
				.mini__wrapper
					i.fas.fa-check.icon.icon_white-color.icon_shadow.icon_green-bg
					i.fas.fa-undo.icon.icon_white-color.icon_shadow.icon_purple-bg
					i.fas.fa-times.icon.icon_shadow
	.deal
		.wrapper 
			h2.deal__title FAB Speed Dial
				.deal__menu-items#icon-menu-items
					i.fas.fa-times.icon.icon_shadow
					i.fas.fa-heart.icon.icon_shadow
					i.fas.fa-pencil-alt.icon.icon_shadow
				i.fas.fa-bars.icon.icon_big-size.icon_orange-bg.icon_white-color.icon_shadow#icon-menu