a(name="cards")
mixin card
    .card
        block

mixin card__header
    header.card__header
        block

mixin card__content
    section.card__content
        block

mixin card__footer 
    footer.card__footer
        block

mixin card__footer-buttons
    .card__footer__buttons
        block

mixin card__header_with-image
    .card__header_with-image
        block

mixin card__footer_without-line
    .card__footer_without-line
        block


+card#card
    +card__content Cards are a convenient means of displaying content composed of different types of objects.
    +card__footer_without-line
        button.button.button_no-upper Hurray!

+card
    +card__header Card headline title
    +card__content Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo.
    +card__footer
        button.button.button_card more info...
        +card__footer-buttons
            button.button.button_card decline
            button.button.button_card.button_colored accept

+card
    +card__header_with-image Card with image header
    +card__content Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo.
    +card__footer
        .button.button_card more info...
        +card__footer-buttons
            button.button.button_card decline
            button.button.button_card.button_colored accept

