section.checkboxes
	.wrapper
		.checkboxes__title Checkbox
		.checkboxes__item
			input(type="checkbox" id="notifications" name="notifications")
			label(for="notifications" class="label-checkbox") Notifications
			p.checkboxes__item-desc Notify me about updates to apps or games that I’ve donnloaded
		.checkboxes__item
			input(type="checkbox" id="auto-updates" name="auto-updates")
			label(for="auto-updates" class="label-checkbox") Auto-updates
			p.checkboxes__item-desc Auto-update apps over wifi only
		.checkboxes__item
			input(type="checkbox" id="search" name="search")
			label(for="search" class="label-checkbox") Clear search
			p.checkboxes__item-desc Remove all the searches you have ever performed
