section.progress-linear
	.wrapper
		h2.progress-linear__title Progress Linear
		.progress-linear__items
			.linear
			.linear
			.linear
			.linear
			.linear.linear_pink
			.linear.linear_pink
section.progress-circular
	.wrapper
		h2.progress-circular__title Progress Circular
		.progress-circular__items
			.circular_very-small
			.circular_small
			.circular_medium
			.circular_large
			.circular_extra-large