nav.sidebar.clearfix
    ul.menu 
        li
            a.menu__item(href="#button")
                span.menu__item-content Buttons
        li
            a.menu__item(href="#cards")
                span.menu__item-content Cards
        li
            a.menu__item(href="#shadow")
                span.menu__item-content Shadow
        li
            a.menu__item(href="#toolbar")
                span.menu__item-content Toolbar
        li
            a.menu__item(href="#inset-dividers")
                span.menu__item-content Inset Dividers
        li
            a.menu__item(href="#dialog")
                span.menu__item-content Dialog & Toast
        li
            a.menu__item(href="#tooltips")
                span.menu__item-content Tooltips
        li
            a.menu__item(href="#menu")
                span.menu__item-content Menu
        li
            a.menu__item(href="#tabs")
                span.menu__item-content Tabs
        li
            a.menu__item(href="#slider")
                span.menu__item-content Slider
        li
            a.menu__item(href="#lists")
                span.menu__item-content Lists