section.tabs
	.wrapper
		h2.tabs__title Tabs
		.tabs__noink
			h3.tabs__noink-subtitle A. No ink effect and no sliding bar
			.tabs__noink-items
				button.tab.tab_yellow-hover item one
				button.tab.tab_yellow-hover item two
				button.tab.tab_yellow-hover item three
			h3.tabs__slides-subtitle B. The bar slides to the selected tab
			.tabs__slides-items
				button.tab.tab_border item one
				button.tab.tab_border item two
				button.tab.tab_border item three
			h3.tabs__inky-subtitle C. Inky Tabs
			.tabs__inky-items 
				button.tab.tab_border item one
					.rippleJS
				button.tab.tab_border item two
					.rippleJS
				button.tab.tab_border item three
					.rippleJS
			.tabs__inky-items 
				button.tab.tab_white-bg.tab_border-blue item one
					.rippleJS
				button.tab.tab_white-bg.tab_border-blue item two
					.rippleJS
				button.tab.tab_white-bg.tab_border-blue item three
					.rippleJS
			.tabs__menu
				.tabs__menu-head
					.tabs__menu-head-left
						i.fas.fa-bars.icon.icon_white-color.icon_no-hover#tabs-menu
						.tabs__menu-head-left-title Title
					.tabs__menu-head-right
						i.fas.fa-search.icon.icon_white-color.icon_no-hover
						i.fas.fa-ellipsis-v.icon.icon_white-color.icon_no-hover
				.tabs__menu-content#tabs-menu-content
					button.tab.tab_border.tab_small item one
						.rippleJS
					button.tab.tab_border.tab_small item two
						.rippleJS
					button.tab.tab_border.tab_small item three
						.rippleJS
			.tabs__bar
				.tabs__bar-items
					button.tab.tab_border.tab_very-small item one
						.rippleJS
					button.tab.tab_border.tab_very-small item two
						.rippleJS
				i.fas.fa-search.icon.icon_white-color.icon_no-hover


