@import "libs";
@import "vars";
@import "_mixins/ellipsis";
@import "_mixins/ripple";
@import "_mixins/box-shadows";
@import "_components/button";
@import "_components/card";

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.logo {
    margin: 21px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 300px;
    text-align: center;
    background: linear-gradient(to bottom left, #292929, #cecece);
}
