@import "vars";
@import "header";
@import "base";
@import "sidebar";
@import "content";
@import "_mixins/ellipsis";
@import "_mixins/ripple";
@import "_mixins/box-shadows";
@import "_components/button";
@import "_components/card";

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}